/*Selector de descendientes*/
.contenido p {
    color:black;
    background: yellow;
}
/*Selector de hijo*/
section > h3 {
    color: green;
    background-color: azure;
}
/*Selector de Hermanos Adyacentes*/
h3 + p {
    margin: 15px;
    padding: 10px;
}
/*Selector de Hermanos Generales*/
h1 ~ ul {
    background-color: yellowgreen;
    color: white;
    font-size: auto;
}
/*Selectores Múltiples*/
h1, #name, h2 {
    background-color: darkslateblue;
    color:azure
}
/*Selectores REGEX*/
p[id^="name"] {
    color: blue;
    background-color: azure;
}
h3[class$="par"] {
    color: red;
}
/*Cascada*/
h1 {
    color: red;
}
h1 {
    background-color: darkslateblue;
    color:azure;
    padding: 20px;
}