body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(48, 48, 48);
    margin: 3px;
}
.contenedor {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50px 500px;
}
.header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.header h2 {
    padding: 10px;
    background-color: black;
    margin: 0;
    color: white;
}
.menu:hover {
    cursor: pointer;
}
.menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.nombre {
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.opciones {
    background-color: rgb(78, 78, 78);
    display: grid;
    color: white;
    border: black 2px solid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
}
.opc1, .opc2, .opc3, .opc4, .opc5, .opc6, .opc7 {
    padding: 30px;
    border-bottom: 2px solid black;
}
.opc1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.opc2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.opc3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.opc4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.opc5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.opc6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}
.opc7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}