main {
    padding: 10px;
}

h1 {
    color: brown;
}
h2 {
    color: rosybrown;
}
h3 {
    color:rgb(236, 201, 154);
    background-color: brown;
    width: max-content;
}
#name {
    display: inline-block;
    vertical-align: top;
    color: blue;
}
.contenido {
    width: 800px;
    background-color: bisque;
    color: rebeccapurple;
}
table {
    background-color: bisque;
    color: rebeccapurple;
}
th {
    background-color: rgb(231, 185, 128);
    color: rgb(99, 31, 167);
}
