.creditos_porcentaje {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    height: 76px;
    }
 
.puntuacion {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 76px;
    }
