main {
    padding: 10px;
}

h1 {
    color: brown;
}
h2 {
    color: rosybrown;
}
h3 {
    color:rgb(236, 201, 154);
    background-color: brown;
    width: max-content;
}
#name {
    display: inline-block;
    vertical-align: top;
    color: white;
}
.contenido {
    width: 800px;
    background-color: bisque;
    color: rebeccapurple;
}
table {
    background-color: bisque;
    color: rebeccapurple;
}
th {
    background-color: rgb(231, 185, 128);
    color: rgb(99, 31, 167);
}

/* Selectores de atributos */
a[href="https://www.facebook.com"]{
    background-color: blue;
    color: aliceblue;
}
a[href*="instagram"]{
    background-color: palevioletred;
    color:aliceblue;
}
p[id="name"] {
    font-size: 1.5em;
    background-color: beige;
    font-style: italic;
}

/* Selectores de pseudo clases */
a:hover {
    background-color: red;
    color: blue;
}
a:active {
    color: red;
}
p:last-child {
    background-color: red;
}
a:link {
    color: rgb(204, 0, 255);
}
:not(h1) {
    color: aqua;
}
p:only-child {
    background-color: limegreen;
}
p:only-of-type {
    background-color: green;
}
:root {
    background-color: black;
}
:scope {
    background-color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}

/* Selectores de pseudo elementos */
a::after {
    content: " oficial ";
}
a::before {
    content: " Visita nuestro: ";
}
h1::first-letter {
    font-size: 150%;
}
p::first-line {
    color: black;
}
h2::first-letter {
    color: green;
    background-color: yellow;
}
h2::first-line {
    color: green;
    background-color: yellow;
}
h1::after {
    content: ": ";
}
h1::before {
    content: "☻";
}
th::first-line {
    color: black;
    background-color: aquamarine;
}